<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ro.ciubex.storageinfo"
    android:versionCode="12"
    android:versionName="2.6" >

    <uses-sdk
        android:minSdkVersion="12"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:name="ro.ciubex.storageinfo.StorageInfoApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="ro.ciubex.storageinfo.activities.IntroActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Dialog" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ro.ciubex.storageinfo.activities.StorageActivity"
            android:label="@string/confirm_unmount_title"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name="ro.ciubex.storageinfo.activities.StorageInfoPreferences"
            android:label="@string/settings" />
        <activity
            android:name="ro.ciubex.storageinfo.activities.LicenseActivity"
            android:label="@string/license" />
        <activity
            android:name="ro.ciubex.storageinfo.activities.AboutActivity"
            android:label="@string/about_storage_info" />

        <receiver
            android:name="ro.ciubex.storageinfo.background.UsbBroadcastReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.MEDIA_UNMOUNTED" />
                <action android:name="android.intent.action.MEDIA_EJECT" />
                <action android:name="android.intent.action.MEDIA_REMOVED" />
                <action android:name="android.intent.action.MEDIA_BAD_REMOVAL" />
                <action
                    android:name="android.hardware.usb.action.USB_DEVICE_DETACHED"
                    android:resource="@xml/device_filter" />
                <action
                    android:name="android.hardware.usb.action.USB_ACCESSORY_DETACHED"
                    android:resource="@xml/accessory_filter" />
                <action android:name="com.sonyericsson.hardware.action.USB_OTG_DEVICE_DISCONNECTED" />

                <data android:scheme="file" />
            </intent-filter>
        </receiver>
    </application>

</manifest>